<!DOCTYPE html>
<html lang = "en" ng-app = "myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link href = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel = "stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css'>
  </head>
  <body>
    <div class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <h1><%= title %></h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class = "navbar-form navbar-right" role = "search">
            <input type = "text" class="form-control" placeholder="Search" ng-model = "search.name">
          </form>
        </div>
      </div>
    </div>

    <ng-view></ng-view>
    <!-- libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>



    <!-- Templates -->
    <script type = "text/ng-template" id = "/todos.html">

      <div class = "panel panel-default">
        <div class = "panel-heading">Stuff To Do</div>
          <ul class = "list-group">
            <li class = "list-group-item" ng-repeat = "todo in todos | filter: search">
              <input type = "checkbox" ng-model = "todo.completed" ng-change = "update($index)">
              <a ng-show = "!editing[$index]" href = "#/{{todo._id}}">{{ todo.name }}</a>
              <button type = "button" class = "btn btn-primary" ng-show = "!editing[$index]" ng-click = "edit($index)">edit</button>
              <button type = "button" class = "btn btn-primary" ng-show = "!editing[$index]" ng-click = "remove($index)">remove</button>

              <input ng-show = "editing[$index]" type = "text" ng-model = "todo.name">
              <button type = "button" class = "btn btn-primary" ng-show = "editing[$index]" ng-click = "update($index)">Update</button>
              <button type = "button" class = "btn btn-primary" ng-show = "editing[$index]" ng-click = "cancel($index)">Cancel</button>
            </li>
          </ul>
        </div>

        <div class="well well-lg">
        New task
        <input type = "text" ng-model = "newTodo">
        <button type = "button" class = "btn btn-primary" ng-click = "save()">Create</button>
        </div>
    </script>

    <script type = "text/ng-template" id = "/todoDetails.html">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1 class="panel-title">{{ todo.name }}</h1>
      </div>
      <div class = "panel-body">
        completed: <input type = "checkbox" ng-model = "todo.completed"><br>
        note: <textarea ng-model = "todo.note">{{ todo.note }}</textarea><br><br>

        <button type = "button" class = "btn btn-primary" ng-click = "update()">Update</button>
        <button type = "button" class = "btn btn-primary" ng-click = "remove()">Remove</button>
        <a href="/">Cancel</a>
        </div>
      </div>
    </script>

    <!-- js script -->
    <script>
      angular.module('myApp', ['ngRoute', 'ngResource', 'ui.bootstrap'])

      // Services
      .factory('Todos', ['$resource', function($resource) {
        return $resource('/todos/:id', null, {
          'update': { method:'PUT'}
        });
      }])

      // Controllers
      .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
        $scope.editing = [];
        $scope.todos = Todos.query();

        $scope.save = function() {
          if(!$scope.newTodo || $scope.newTodo.length < 1) return;
          var todo = new Todos({ name: $scope.newTodo, completed: false });

          todo.$save(function() {
            $scope.todos.push(todo);
            $scope.newTodo = ''; // clear textbox
          });
        }

        $scope.update = function(index) {
          var todo = $scope.todos[index];
          Todos.update({id: todo._id}, todo);
          $scope.editing[index] = false;
        }

        $scope.edit = function(index){
        $scope.editing[index] = angular.copy($scope.todos[index]);
        }

        $scope.cancel = function(index){
          $scope.todos[index] = angular.copy($scope.editing[index]);
          $scope.editing[index] = false;
        }

        $scope.remove = function(index) {
          var todo = $scope.todos[index];
          Todos.remove({ id: todo._id}, function(){
            $scope.todos.splice(index, 1);
          });
        }
      }])

      .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', '$location', function ($scope, $routeParams, Todos, $location) {
        $scope.todo = Todos.get({ id: $routeParams.id });

        $scope.update = function() {
          Todos.update({id: $scope.todo._id}, $scope.todo, function(){
            $location.url('/');
          });
        }

        $scope.remove = function() {
          Todos.remove({ id: $scope.todo._id}, function() {
            $location.url('/');
          });
        }
      }])

      // Routes
      .config(['$routeProvider', function ($routeProvider) {
        $routeProvider
        .when('/', {
          templateUrl: '/todos.html',
          controller: 'TodoController'
        })

        .when('/:id', {
          templateUrl: '/todoDetails.html',
          controller: 'TodoDetailCtrl'
        });
      }]);
    </script>

  </body>
</html>
